services:
  - type: web
    name: usa-flights-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: CHANNEL_LINK
        value: "https://t.me/ubereats_us"
